.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-size: 3em;
        margin-bottom: 20px;

        span {
            color: var(--cor-primaria);
        }

        @media (max-width: 950px) {
        text-align: center;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 25px;

        @media (max-width: 950px) {
            flex-direction: column;
            align-items: center;
        }

        li {
            max-width: 25%;
            height: auto;
            padding-bottom: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;

            @media (max-width: 950px) {
                max-width: 100%;
                padding: 10px;
            }

            h2 {
                padding: 15px 0;
                background-color: var(--cor-primaria);
                color: #FFF;
                text-align: center;
            }
        }
    }
}

.boxText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        .icon {
            color: var(--cor-primaria);
            margin-bottom: 10px;
            font-size: 0.9em;
            width: 2em;
            height: 2em;
        }

        p {
            font-size: 1.2em;
            color: black
        }

        span {
            font-size: 1em;
            font-weight: bold;
            color: black
        }
    }
}

.divisor {
    flex: 1;
    border-bottom: 1px solid dimgray;
    margin-left: 15px;
    margin-right: 15px;
}

.boxFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 10px;

    p {
        font-size: 0.8em;
        line-height: 1.8;
    }

    button {
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 10px 20px;
        border: 2px solid var(--cor-primaria);
        border-radius: 25px;
        background-color: transparent;
        color: #000;
        font-size: 1.1em;
        cursor: pointer;
    }
}